
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form #signIn ="ngForm" (ngSubmit)="onSignInSubmit(signIn.value)">
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" name="email" placeholder="Email" ngModel/>
			<input type="password" name="password" placeholder="Password" ngModel/>
			<div class="forgotpw" (click)="navigateToPasswordReset()">Forgot your password?</div>
			<div class="btn-div">
                <button type="submit">Sign Up</button>
                <button (click)="onCancel()">Cancel</button>
            </div>
		</form>
	</div>
</div>