<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Manage Projects</h1>
      <hr>
    </div>
    <div class="container">
      <!--Add product form-->
      <div class="form-area">
        <h3>Create Product</h3>
        <form #projectForm ="ngForm" (ngSubmit)="onProjectCreateOrUpdate(projectForm.value)">
          <label>Project Title</label>
          <input type="text" name="title" ngModel>

          <label>Project Date</label>
          <input type="date" name="date" ngModel>

          <label>Project Object</label>
          <input type="text" name="object" ngModel> <!--selector-->
      
          <label>Project Model</label>
          <input type="text" name="model" ngModel> 

          <label>Project Description</label>
          <input type="text" name="description" ngModel>

          <label>Project Technique</label>
          <input type="text" name="technique" ngModel>

          <label>Project Colors</label>
          <input type="text" name="colors" ngModel>

          <label>Project Price</label>
          <input type="text" name="price" ngModel>
      
          <label>Project Pre Image</label>
          <input type="file" (change)="onPreImageChange($event)" name="Preimage" required>
          <img [src]="preImageSrc" *ngIf="preImageSrc" style="width: 10rem">
          <img src="../../assets/images/noimage.webp" *ngIf="!preImageSrc" style="width: 10rem">
          <input type="button" *ngIf="editMode && preImageSrc" (click)="deleteImage($event)" name="preImageDelete" value="Delete Image">
          <input type="text" name="imgPreSrc" ngModel>
          <input type="text" name="imgPreName" ngModel>

          
          <label>Project Post Image</label>
          <input type="file" (change)="onPostImageChange($event)" name="Postimage" required>
          <img [src]="postImageSrc" *ngIf="postImageSrc"  style="width: 10rem">
          <img src="../../assets/images/noimage.webp" *ngIf="!postImageSrc" style="width: 10rem">
          <input type="button" *ngIf="editMode && postImageSrc" (click)="deleteImage($event)" name="postImageDelete" value="Delete Image" >
          <input type="text" name="imgPostSrc" ngModel>
          <input type="text" name="imgPostName" ngModel>
        
          <input type="submit" value="{{editMode ? 'Update Project' : 'Add Project'}}" >
          <input type="button" *ngIf="editMode" value="Cancel" (click)="onCancelEditMode()">
        </form>
      </div>

      <!--Display product area-->
      <div class="project-display-area">
        <h3>All Products</h3>
        <table id="projects">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
            <th>Object</th>
            <th>Model</th>
            <th>Description</th>
            <th>Technique</th>
            <th>Colors</th>
            <th>Price</th>
            <th>Image Pre Name</th>
            <th>Image Pre Src</th>
            <th>Image Post name</th>
            <th>Image Post Src</th>
            <th>Actions</th>
          </tr>
          <tr *ngIf="allProjects.length < 1 && !isFetching">
            <td colspan="2">No Products Available</td>
          </tr>
          <tr *ngIf="errorMessage">
            <td colspan="2">{{errorMessage}}</td>
          </tr>
          <tr *ngIf="isFetching && !errorMessage">
            <td colspan="2">Loading...</td>
          </tr>
          <tr *ngFor="let project of allProjects, index as i">
            <td>{{i +1}}</td>
            <td>{{project.title}}</td>
            <td>{{project.date}}</td>
            <td>{{project.object}}</td>
            <td>{{project.model}}</td>
            <td>{{project.description}}</td>
            <td>{{project.technique}}</td>
            <td>{{project.colors}}</td>
            <td>{{project.price}}</td>
            <td>{{project.imgPreName}}</td>
            <td>{{project.imgPreSrc}}</td>
            <td>{{project.imgPostName}}</td>
            <td>{{project.imgPostSrc}}</td>
            <td><button class="btn-delete" (click)="onDeleteProject(project.id)">Delete</button>
            <td><button class="btn-edit" (click)="onEditClicked(project.id)">Edit</button></td>
          </tr>
        </table>
        <hr>
        <div class="action-btn-container">
          <button class="btn-fetch" (click)="onFetchProjects()">Fetch Product</button>
          <button class="btn-clear" (click)="onDeleteAllProjects()">Clear Product</button>
        </div>
      </div>
    </div>
  </div>
</div>
<button alt="return btn" (click)="navigate('')">Return to Portfolio</button>